<style>
	
@media only screen and (max-width: 770px) {
  .intro-text {
    font-size:40px;
  }
}
	
#masthead{
	height:100vh;
	}
	
#masthead-container{
	width:100%;
	}	
	
#masthead-title{
	padding-top:33vh;
	}		
	
	
	
#faglaerer-heading{
	font-size:40px; 
	margin-top:-125px; 
	color:white;
}	
	
#faglaerer-caption{
	background-color:rgba(0,0,0,0) !important;
	border: 2px solid;
	color:white;
	min-height:140px;
	}

.img-fluid{	
    width: 100%;
    height: 375px;
    object-fit: cover;	
	}
	
	#faglaerer-linje{
		border-bottom: 3px solid;
		margin-left: 325px;
    		margin-right: 325px;
		color:white;
	
	}

#emner-heading	{
	margin-top:-130px; 
	font-size:60px; 
	color:white;
}
	
#emner-linje{
	border-bottom: 3px solid;
		margin-left: 325px;
    		margin-right: 325px;
		color:white;
		margin-bottom:20px;
		margin-top: -30px;
	}	

#semester-heading-1{
	color:white;
	
}
	
	
</style>
