
<div div class="container">
  
 <div class="row">
    <div class="col">
         {% include portfolio_grid.html %}
    </div>
   <div class="col">
       {% include portfolio_grid2.html %}
    </div>
  </div>
    
    
 <div class="row">
     <div class="col">
        {% include portfolio_grid3.html %}
     </div>
      <div class="col">
          {% include portfolio_grid4.html %}
      </div> 
 </div>
  
    
<div class="row">   
    <div class="col">
       {% include portfolio_grid5.html %}
    </div>
    <div class="col">
        {% include portfolio_grid6.html %}
    </div>
 </div>    
  
</div>



