
<div id="container-grid">
  
  <div class="grids">
       {% include portfolio_grid.html %}
  </div>
  
  <div class="grids">
  {% include portfolio_grid2.html %}
  </div>
  
  <div class="grids">
  {% include portfolio_grid3.html %}
  </div>
  
  <div class="grids">
  {% include portfolio_grid4.html %}
  </div>
  
  <div class="grids">
  {% include portfolio_grid5.html %}
  </div>
  
  <div class="grids">
  {% include portfolio_grid6.html %}
  </div>
  
</div>



<style>
  
#container-grid{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
  }

.grids{
  display: inline-block;
  margin: 10px 0 0 2%;
  flex-grow: 1;
  width: calc(100% * (1/3) - 10px - 1px);
  }
  
</style>
