<script>

  
function hideModal(id) {
    $("#"+id).removeClass("in");
    $(".modal-backdrop").remove();
    $('body').removeClass('modal-open');
    $('body').css('padding-right', '');
    $("#"+id).hide();
} 
  
  
var observer = new MutationObserver(function(mutationsList, observer) {
    for (var mutation of mutationsList){
  
        if (mutation.attributeName == 'aria-modal' ) {
             
           var id = (mutation.target.id);
  
           if($("#" + id).attr('aria-modal') == 'true'){
