<div class="container d-flex flex-column" style="
    text-align:center; 
    padding-top: 100px; 
    background-color: #fed136;
    padding-bottom: 50px;
    margin-top: 75px;
    color:white;
                                                  ">

  
  <div class="col-12">
      <h1 style="font-size: 60px; margin-bottom:25px;"> Programbeskrivelse </h1>
  </div>
  
  <div style="text-align:center;">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry'
        s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specime
        n book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
        was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publish
        ing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  
</div>
