


.fadeOnScroll{
	opacity:0;
}	

.fadeOnScrollEmner{
	opacity:0;
}	
	



@media only screen and (max-width: 993px) {
	
	  header.masthead .intro-text .intro-heading {
	    font-size:50px !important;
	  }

	#programbeskrivelse-header{
		font-size: 50px !important;
	}


	  .fadeOnScroll{
		  opacity:1;
		  }

	   .fadeOnScrollEmner{
		  opacity:1;
		  }

	   #ressurs-linje{
		border-bottom: 3px solid !important;
		margin-left: 200px !important;
		margin-right: 200px !important;
	}


	     #emner-linje{
		border-bottom: 3px solid !important;
			margin-left: 200px !important;
			margin-right: 200px !important;
			color:white !important;
			margin-bottom:20px!important;
			margin-top: -30px !important;
		}
	
	
	
}




@media only screen and (max-width: 1661px) {
	
	#masthead-title{
	font-size: 50px !important;
	}



#masthead-undertitle{
	font-size: 50px !important;
	

	}

#masthead-text{
	font-size: 50px !important;

	}	
	
}




@media only screen and (max-width: 1361px) {
	
	#masthead-title{
	font-size: 45px !important;
	}



#masthead-undertitle{
	font-size: 45px !important;
	

	}

#masthead-text{
	font-size: 45px !important;

	}	
	
}



@media only screen and (max-width: 1261px) {
	
	#masthead-title{
	font-size: 40px !important;
	}



#masthead-undertitle{
	font-size: 40px !important;
	

	}

#masthead-text{
	font-size: 40px !important;

	}	
	
}



@media only screen and (max-width: 1161px) {
	
	#masthead-title{
	font-size: 35px !important;
	}



#masthead-undertitle{
	font-size: 35px !important;
	

	}

#masthead-text{
	font-size: 35px !important;

	}	
	
}



@media only screen and (max-width: 1061px) {
	
	#masthead-title{
	font-size: 30px !important;
	}



#masthead-undertitle{
	font-size: 30px !important;
	

	}

#masthead-text{
	font-size: 30px !important;

	}	
	
}


@media only screen and (max-width: 961px) {
	
	#masthead-title{
	font-size: 22px !important;
	}



#masthead-undertitle{
	font-size: 22px !important;
	margin-top: -20px !important;
	

	}

#masthead-text{
	font-size: 22px !important;

	}	
	
}








.navbar{
     display:none !important;  
   }



body{
  
  font-family: 'Open Sans', sans-serif !important;	
  min-width:100vh;
}	

	
		
#bg-2-section{
	background-color: #022836;
	opacity: 1;
	background-image: radial-gradient(rgba(68, 132, 159, 0.4) 1.5px, #022836 1.6px);
	background-size: 24px 24px;
	padding-top:50px;  
	
}	
	
#masthead{
	margin-bottom:-20px;
	}
	
	
#masthead-container{
	min-width:200px;
	}	
	
#masthead-title{
	padding-top:112px;
	font-size: 65px;
	font-weight:650;
	text-align:left;
	margin-left:150px;

	}



#masthead-undertitle{
	margin-top: -45px;
	font-size: 65px;
	

	}

#masthead-text{
	padding-top:60vh;
	padding-bottom: 5vh;
	font-weight:600;
	font-size: 60px;

	}	
	
	
#programbeskrivelse {
    text-align:center; 
    padding-top: 100px; 
    background-color: #F2A900;
    padding-bottom: 50px;
    margin-top: 75px;
    color:white;
    border-radius:50px;
    width:100%;   
}	
	
#programbeskrivelse-header{
	font-size: 60px; 
	margin-bottom:25px; 
	margin-top:-25px;
}
	
	
#programbeskrivelse-content {
	text-align:center;
	margin-right: 10%;
   	margin-left: 10%;
	
	
}
	

#services{	
	margin-top:10px; 
	color:white;
}	
	

.ressurs-tekst{
	margin-bottom:75px;
}
	
#ressurs-linje{
	border-bottom: 3px solid;
	margin-left: 350px;
    	margin-right: 350px;
}
	
	
	
.img-fluid{	
    width: 100%;
    height: 375px !important;
    object-fit: cover;	
	}
	

#portfolio .portfolio-item .portfolio-caption {	
	height:140px;
	
}	
	
	
#emner-heading	{
	margin-top:0px; 
	font-size:60px; 
	color:white;
}
	
#emner-linje{
	border-bottom: 3px solid;
		margin-left: 325px;
    		margin-right: 325px;
		color:white;
		margin-bottom:20px;
		margin-top: -30px;
	}	

#semester-heading-1{
	color:white;
	
}

.semester-heading-2-6{
	color:white !important;
	margin-top:-170px !important;
}
	
.semester-row-2-6{	
	margin-top:-100px !important;
}
	
	
	
