---
layout: default
---
<head>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>

<style>
body{
  min-width:770px;
  }

#bg-2-section{
background-color: #022836;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #022836 24px ), repeating-linear-gradient( #44849f55, #44849f );
padding-top:50px;  
}
  
  
  
 
}
  
</style>

{% include navheader.html %}
<div id="bg-2-section">
  {% include programbeskrivelse.html %}
  {% include services.html %}
  {% include faglaererinfo.html %}
</div>  
{% include container-grid.html %}


