---
layout: default
---
<head>
  <meta name="viewport" content="width=device-width", initial-scale="1.0">
</head>

<style>
body{
  min-width:770px;
  }

#bg-2-section{
  background-image: url(https://github.com/uit-econ/hovedside/blob/main/assets/img/bg-2-section.jpg?raw=true);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
  
  
  
 
}
  
</style>

{% include navheader.html %}
<div id="bg-2-section">
  {% include programbeskrivelse.html %}
  {% include services.html %}
  {% include faglaererinfo.html %}
</div>  
{% include container-grid.html %}


